$font-stack:    Helvetica, sans-serif;
$color1: #333333;
$color2: white;
$color3: #757575;
$color4: #f5f5f5;

@font-face {
  font-family: 'Andron';
  src: url('../fonts/AndronScriptorWeb.ttf') format('truetype');
}

body{
    overflow: hidden;
    height: 100%;
    position: fixed;
    width:100%;
    height:100%;
}

.canvasUI{
	position: absolute;
}


#viewerRwapper{
	width: 100%;
	padding: 0px !important;
	margin: 0px !important;
}

#viewer{
  position: relative;
	padding: 0px !important;
	margin: 0px !important;
	background-color: $color3;

  #viewerCanvas{
    position: absolute;
  	width: 100%;
  	height: 100%;
  	padding: 0px !important;
  	margin: 0px !important;
  }
  #viewerText {
    position: absolute;
    padding: 20px;
    overflow: scroll;
    background-color: white;
    *{
      background-color: white;
    }

    #viewerTextContainer{
      &:not(.is-loading):empty::after {
        content:'Page does not contain text lines.';
        text-align:center;
        vertical-align: middle;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }
      .textline-container{
        padding:10px;
        .textline-image{
          height: 35px;
        }
        input{
            border: 1px solid black;
            font-family: 'Andron';
            height:auto;
            border-radius: 0;
            outline: none;
            font-size: 20px;
            padding: 0px;
            margin: 2px;
            box-shadow: none;
            box-sizing: content-box;
            transition: none;
            &:focus{
              border-color: #75757555;
              border-width: 3px;
              margin: 0px;
            }
        }
        &.line-corrected{
          input {
            border-color: #4caf50;
          }
        }
        &.line-saved{
          input {
            background-color: #c8e6c9;
          }
        }
      }
    }
  }
  #textline-viewer-buffer{
    position: fixed;
    font-family: 'Andron';
    top:-100%;
    padding:2px;
    margin: 3px;
    border: 3px solid black;
  }
  canvas[resize] {
      width: 100%;
      height: 100%;
  }
}

.sidebar{
    z-index: 2;
    position:relative;
		background-color: $color2;
    padding: 0px !important;

    .collapsible-header{
      position:relative;
      .collapsible-setting{
        position:absolute;
        right:5px;
        top:0px;
        height:100%;
        *{
          font-size:15px;
        }
        i{
          margin-right:0px;
        }
      }
    }
    .input-number{
        background-color: transparent;
        border: 1px solid black;
        //border-bottom: 1px solid #9e9e9e;
        border-radius: 0;
        outline: none;
        height: 20px;
        width: 60px;
        font-size: 1rem;
        margin: 2px;
        padding: 0px;
        padding-left: 5px;
        box-shadow: none;
        box-sizing: content-box;
        transition: none;//all 0.3s;
    }
    #parameter-settings{
        margin: 7px;
    }
    .settings-header{
      font-weight: bold;
    }
    .settings-input{
        margin: 2px;
        padding: 0px;
    }
    .settings-regions, .reading-order, .legend-regions{
        height: 210px;
        overflow-y: scroll;
        counter-reset: li -1;
        *{
          font-size: 10px;
        }
        .legendicon{
          height: 10px;
          width: 10px;
          display: inline-block;
          margin-right: 4px;
        }
        .lever{
          height: 10px;
          width: 30px;
        }
        .lever::after{
          height: 15px;
          width: 15px;
        }
        li{
          padding: 3px 10px !important;
        }
        .draggable-target{
          border-top: 2px solid $color1;
        }
        .collection-item{
            cursor: pointer;
            &:hover, &.highlighted{
              background-color: $color3;
              color: $color2;
            }
        }
        .reading-order-segment{
          position:relative;
          .delete-reading-order-segment{
            position:absolute;
            right: 5px;
            top:7px;
          }
          &::before{
            counter-increment: li;
            content:counter(li);
            border-right: 1px solid $color3;
            margin-right: 5px;
            padding-right: 5px;
          }
          &:hover{
            &::before{
              border-right: 1px solid white;
            }
          }
        }
        .warning{
          text-align: center;
          font-style: italic;
          font-size: 130%;
        }
    }
    .legend{
      padding: 1px 12px 1px 12px;
      .legend-regions {
          overflow-y: auto;
          height: auto;
      }
    }
    .settings-image-mode, .settings-combine-image{
      margin-left:5px;
      margin-right:5px;
      margin-top: 0px;
    }
    .settings-imagesegmentation{
      margin-left:5px;
      margin-right:5px;
      margin-top: 20px;
      margin-bottom: 4px;
    }
    .btn {
      margin-bottom: 5px;
    }
}

.reading-order{
  height:350px !important;
}

.virtual-keyboard{
  margin: 0px 0px 5px 0px;
  .row{
    margin:0px;
    .col{
      margin:0px;
    }
  }
  .vk-drag{
    padding:1px;
  }
  .vk-btn{
    width:100%;
    font-family: 'Andron';
    margin:0px;
    text-transform: none;
    padding: 0px 5px 0px 5px;
    background-color: #03a9f4;
  }
  .draggable-target {
    padding-left:5px;
    * { 
      pointer-events: none;
    }
  }
}

.virtual-keyboard-settings, .virtual-keyboard-tools{
  margin: 0px;
  .btn{
    background-color: #0277bd;
  }
} 
.virtual-keyboard-tools{
  margin-bottom: 20px;
}

#pagecontainer{
	height: 100% !important;
	overflow-x: hidden;
  overflow-y: scroll;
	background-color: $color1;
  cursor: pointer;
}
#menu{
  z-index:2;
  .menuIcon{
    width: 40px;
    height: 40px;
    text-align: center;
    color: black;
    background-color: $color4;
    padding: 2px 0px 0px 0px !important;
    margin: 0px !important;
    float: left;

    :hover{
      cursor: pointer;
      color: $color2 !important;
      background-color: $color3 !important;
    }
    .menuIconMain{
      width: 100%;
      height: 100%;
      text-align: center;
      display: block;
      padding: 3px 3px 3px 3px !important;
      margin: 0px !important;
      font-size: 12px;
      i{
        font-size: 28px;
      }
    }

    .menuIconSecond{
      font-size: 0px;
      padding: 0px !important;
      margin: 0px !important;
    }
  }
  .menuTextIcon{
    width: 80px;
    height: 40px;
    text-align: center;
    color: black !important;
    background-color: $color4 !important;
    padding: 4px 0px 0px 0px !important;
    margin: 0px !important;
    float: left;
    font-size: 18px;
    display: block;

  }
  .menuSlider{
    height: 40px;
    text-align: center;
    color: black !important;
    background-color: $color4 !important;
    padding: 4px 0px 0px 0px !important;
    margin: 0px !important;
    float: left;
    display: block;
    .thumb{ display: none !important; }
    input{
      margin: 8px 0px;
    }
  }
  .menuIconCategory{
    height: 38px;
    text-align: center;
    color: $color2 !important;
    background-color: $color3 !important;
    padding: 2px 2px 0px 2px !important;
    margin: 1px 1px 1px 1px !important;
    float: left;

    .menuIcon{
      width: 23px;
      height: 23px;
      padding: 0px 0px 0px 0px !important;
      *{
        padding: 0px 0px 0px 0px !important;
      }
      .menuIconMain{
        i{
          font-size: 21px;
        }
      }
    }

    .menuTextIcon{
      width: 60px;
      height: 23px;
      padding: 0px 0px 0px 0px !important;
      margin: 0px !important;
      font-size: 14px;
    }

    .menuSlider{
      height: 23px;
      padding: 0px 0px 0px 0px !important;
      *{
        padding: 0px 0px 0px 0px !important;
      }
    }
    .menuIconCategoryText{
      font-size: 10px;
      padding: 0px !important;
      margin: 0px !important;
    }
  }
}

.invert {
  color: $color2 !important;
  background-color: $color3 !important;
  cursor: default !important;
}

.menuIconDivider{
	height: 34px;
	width: 1px;
	background-color: #bdbdbd;
	display: block;
	padding: 0px !important;
	margin: 3px 0px !important;
	float:left;
}
.pageImageContainer{
  padding: 1px !important;
  opacity: 0.7;
  &.selected{
    background-color: red;
  }
  &.segmented{
    opacity: 1;
  }
  &.segmentError{
      opacity: 0.2;
      overflow: hidden;
  }
  &.segmentError:before, &.segmentError:after {
    position: absolute;
    margin: auto;
    width: 100%;
    height: 2px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    content: '';
    background-color: black;
  }
  &.segmentError:after {
    transform: rotate(45deg);
  }
  &.segmentError:before {
    transform: rotate(-45deg);
  }
  &.emptyImage:after{
    content:"";
    display:block;
    padding-top:140%;
  }
  .pageImage{
    width: 100%;
  }
}

.pagestatus{
  position: absolute;
  padding: 0px !important;
  margin: 0px !important;
  right: 2px;
  bottom: 2px;
} 

#pageLegend{
  position:absolute;
  bottom:0px;
  left:0px;
  padding:3px 5px;
  .pagestatusIcon{
    cursor: pointer;
    &:not(.checked){
      background-color: gray;
      opacity: 0.4;
    }
  }
}

.pagestatus, #pageLegend {
  .pagestatusIcon {
    font-size: 16px;
    padding: 3px;
    margin: 0px;
    color: $color4;
    &.pageIconTodo,&.pageIconUnsaved{
      background-color: #f57f17;
    }
    &.pageIconSession, &.pageIconServer, &.pageIconChanged{
      background-color: #689f38;
    }
  }
}
.image_versions {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  .image_version {
    font-size: 12px;
    padding: 3px;
    margin: 0px;
    color: $color4;
    background-color: $color3;
    flex: 1;
    text-align: center;
    &:hover, &.selected{
      background-color: $color1;
    }
  }
}
#regioneditor, #virtual-keyboard-add{
  z-index:3;
  position: absolute;
  #regioneditor-settings, #vk-settings{
    margin: 8px;
    #regionType, #regionType *{
      cursor: pointer;
      font-weight: bold;
    }
  }
  #regionColor, .regionColorIcon{
    i{
      font-size: 14px;
    }
    cursor: pointer;
  }
  #regioneditorColorSelect{
    width: 250px;
    ul{
      padding: 0px;
      margin: 0px;
    }
    li{
      padding: 3px 10px !important;
      min-height: 0px;
    }
  }
  .select-regions{
    height: 160px;
    overflow-y: scroll;
    ul{
      padding: 0px;
      margin: 0px;
    }
    li{
      padding: 3px 10px !important;
      min-height: 0px;
    }
  }
  .legendicon{
    height: 10px;
    width: 10px;
    display: inline-block;
    margin-right: 4px;
  }
  .input-number{
      background-color: transparent;
      border: 1px solid black;
      //border-bottom: 1px solid #9e9e9e;
      border-radius: 0;
      outline: none;
      height: 20px;
      width: 60px;
      font-size: 1rem;
      margin: 2px;
      padding: 0px;
      padding-left: 5px;
      box-shadow: none;
      box-sizing: content-box;
      transition: none;//all 0.3s;
  }
  .collection-item{
      cursor: pointer;
      &:hover{
        background-color: $color3;
        color: $color2;
      }
  }
}

#contextmenu{
  z-index:3;
  position: absolute;
  max-height: 40%;
  overflow-y: auto;
  padding: 0px;
  margin: 0px;
  ul{
    padding: 0px;
    margin: 0px;
  }
  li{
    padding: 3px 10px !important;
    min-height: 0px;
  }
  .legendicon{
    height: 10px;
    width: 10px;
    display: inline-block;
    margin-right: 4px;
  }
  .contextTypeOption{
    cursor: pointer;
    &:hover{
      background-color: $color3;
      color: $color2;
    }
  }
}

.btn{
  overflow: hidden;
  .progress{
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    pagging: 0;
  }
}
.exportPageXML{
  &.disabled {
    pointer-events: auto !important;
    #dropDownPageXMLCorner{
      background-color: grey !important;
    }
    .pageXMLVersionSelect{
      color: grey !important;
    }
  }
  .dropDownPageXMLCorner{
    pointer-events: auto !important;
    cursor: pointer;
    background-color: white;
    height:30px;
    width:30px;
    position: absolute;
    right: -15px;
    bottom: -15px;
    transform: rotate(45deg);
  }
  .pageXMLVersion{
    color: white;
    padding: 0px !important;
    margin: 0px !important;
    height: 9px !important;
    line-height: 110%;
    font-size: 8px !important;
    position: absolute !important;
    top: 0px !important;
    right: 0px !important;
  }
}
#dropDownPageXML{
  width: 100%;
  height: 1px;
}
.matrixCollection{
  list-style:none;
  margin-left:0;
  overflow:hidden; /* Clear floats */
    li{
        float:left;
        -webkit-box-sizing:border-box;
           -moz-box-sizing:border-box;
                box-sizing:border-box;
    }
}
#import-export-settings{
  .loadExistingSegmentation{
    margin-top: 5px;
  }
}

#textline-content{
  z-index: 1; 
  position: absolute;
  border: 1px solid black;
  background-color: white;
  padding: 0px;
  margin: 0px;
  transition: 0.3s;
  transition-property: opacity;
  &.fade{
    transition-delay: 0.5s;
    opacity: 0.2;
  }
  &.line-corrected{
    margin: 0px;
    border: 2px solid #4caf50;
  }
  &.line-saved{
    background-color: #c8e6c9;
  }
  *{
    font-family: 'Andron';
  }
  input,#textline-buffer{
      height:auto;
      border-radius: 0;
      outline: none;
      padding: 0px;
      margin: 0px;
      box-shadow: none;
      box-sizing: content-box;
      transition: none;
      border-bottom: 0px solid white !important;
  }
  #textline-buffer{
    white-space: nowrap;
    max-height:0px;
    position:fixed;
    bottom:-100%;
    min-width:30px;
  }
}