$font-stack:    Helvetica, sans-serif;
$color1: #333333;
$color2: white;
$color3: #757575;
$color4: #f5f5f5;

body{
    overflow: hidden;
    height: 100%;
}

.canvasUI{
	position: absolute;
}


#viewerRwapper{
	width: 100%;
	padding: 0px !important;
	margin: 0px !important;
}

#viewer{
	padding: 0px !important;
	margin: 0px !important;
	background-color: $color3;

  #viewerCanvas{
  	width: 100%;
  	height: 100%;
  	padding: 0px !important;
  	margin: 0px !important;
  }
  canvas[resize] {
      width: 100%;
      height: 100%;
  }
}

.sidebar{
		background-color: $color2;
    padding: 0px !important;

    .input-number{
        background-color: transparent;
        border: 1px solid black;
        //border-bottom: 1px solid #9e9e9e;
        border-radius: 0;
        outline: none;
        height: 20px;
        width: 60px;
        font-size: 1rem;
        margin: 2px;
        padding: 0px;
        padding-left: 5px;
        box-shadow: none;
        box-sizing: content-box;
        transition: none;//all 0.3s;
    }
    #parameter-settings{
        margin: 7px;
    }
    .settings-header{
      font-weight: bold;
    }
    .settings-input{
        margin: 2px;
        padding: 0px;
    }
    .settings-regions{
        height: 210px;
        overflow-y: scroll;
        *{
          font-size: 10px;
        }
        .legendicon{
          height: 10px;
          width: 10px;
          display: inline-block;
          margin-right: 4px;
        }
        .lever{
          height: 10px;
          width: 30px;
        }
        .lever::after{
          height: 15px;
          width: 15px;
        }
        li{
          padding: 3px 10px !important;
        }
        .collection-item{
            cursor: pointer;
            &:hover{
              background-color: $color3;
              color: $color2;
            }
        }
    }
    .settings-image-mode, .settings-combine-image{
      margin-left:5px;
      margin-right:5px;
      margin-top: 0px;
    }
    .settings-imagesegmentation{
      margin-left:5px;
      margin-right:5px;
      margin-top: 20px;
      margin-bottom: 4px;
    }
    .btn {
      margin-bottom: 5px !important;
    }
}

#pagecontainer{
	height: 100% !important;
	overflow-x: hidden;
  overflow-y: scroll;
	background-color: $color1;
	cursor: pointer;
}

.menuIcon{
	width: 40px;
	height: 40px;
	text-align: center;
  color: black !important;
  background-color: $color4 !important;
  padding: 2px 0px 0px 0px !important;
	margin: 0px !important;
	float: left;

  :hover{
  	cursor: pointer;
    color: $color2 !important;
    background-color: $color3 !important;
  }
  .menuIconMain{
  	width: 100%;
  	height: 100%;
  	text-align: center;
  	display: block;
    padding: 3px 3px 3px 3px !important;
  	margin: 0px !important;
    font-size: 12px;
    i{
      font-size: 28px;
    }
  }

  .menuIconSecond{
  	font-size: 0px;
  	padding: 0px !important;
  	margin: 0px !important;
  }
}
.menuTextIcon{
	width: 80px;
	height: 40px;
	text-align: center;
  color: black !important;
  background-color: $color4 !important;
  padding: 4px 0px 0px 0px !important;
	margin: 0px !important;
	float: left;
  font-size: 18px;
  display: block;

}
.menuIconCategory{
	height: 38px;
	text-align: center;
  color: $color2 !important;
  background-color: $color3 !important;
	padding: 2px 2px 0px 2px !important;
	margin: 1px 1px 1px 1px !important;
	float: left;

  .menuIcon{
    width: 23px;
  	height: 23px;
    padding: 0px 0px 0px 0px !important;
    *{
      padding: 0px 0px 0px 0px !important;
    }
    .menuIconMain{
      i{
        font-size: 21px;
      }
    }
  }

  .menuIconCategoryText{
  	font-size: 10px;
  	padding: 0px !important;
  	margin: 0px !important;
  }
}

.invert {
  color: $color2 !important;
  background-color: $color3 !important;
  cursor: default !important;
}

.menuIconDivider{
	height: 34px;
	width: 1px;
	background-color: #bdbdbd;
	display: block;
	padding: 0px !important;
	margin: 3px 0px !important;
	float:left;
}
.pageImageContainer{
  padding: 1px !important;
  opacity: 0.7;
  &.selected{
    background-color: red;
  }
  &.segmented{
    opacity: 1;
  }
  &.segmentError{
      opacity: 0.2;
      overflow: hidden;
  }
  &.segmentError:before, &.segmentError:after {
    position: absolute;
    margin: auto;
    width: 100%;
    height: 2px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    content: '';
    background-color: black;
  }
  &.segmentError:after {
    transform: rotate(45deg);
  }
  &.segmentError:before {
    transform: rotate(-45deg);
  }
  .pageImage{
    width: 100%;
  }
  .pagestatus{
    position: absolute;
    padding: 0px !important;
    margin: 0px !important;
    right: 2px;
    bottom: 2px;
    .pagestatusIcon{
      font-size: 18px;
      padding: 2px;
      margin: 0px;
      &.pageIconError{
        color: $color4;
        background-color: red;
      }
      &.pageIconExported, &.pageIconSaved{
        color: $color4;
        background-color: #8bc34a;
      }
    }

  }
}
#regioneditor{
  position: absolute;
  #regioneditor-settings{
    margin: 8px;
    #regionType, #regionType *{
      cursor: pointer;
      font-weight: bold;
    }
  }
  .select-regions{
    height: 160px;
    overflow-y: scroll;
    ul{
      padding: 0px;
      margin: 0px;
    }
    li{
      padding: 3px 10px !important;
      min-height: 0px;
    }
  }
  .legendicon{
    height: 10px;
    width: 10px;
    display: inline-block;
    margin-right: 4px;
  }
  .input-number{
      background-color: transparent;
      border: 1px solid black;
      //border-bottom: 1px solid #9e9e9e;
      border-radius: 0;
      outline: none;
      height: 20px;
      width: 60px;
      font-size: 1rem;
      margin: 2px;
      padding: 0px;
      padding-left: 5px;
      box-shadow: none;
      box-sizing: content-box;
      transition: none;//all 0.3s;
  }
  .collection-item{
      cursor: pointer;
      &:hover{
        background-color: $color3;
        color: $color2;
      }
  }
}

/*#segmentedit{
    position: absolute;
    top: 80px;
    left: 80px;
    width: 300px;
}*/

#contextmenu{
  position: absolute;
  max-height: 40%;
  overflow-y: auto;
  padding: 0px;
  margin: 0px;
  ul{
    padding: 0px;
    margin: 0px;
  }
  li{
    padding: 3px 10px !important;
    min-height: 0px;
  }
  .legendicon{
    height: 10px;
    width: 10px;
    display: inline-block;
    margin-right: 4px;
  }
  .contextTypeOption{
    cursor: pointer;
    &:hover{
      background-color: $color3;
      color: $color2;
    }
  }
}

.btn{
  .progress{
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    pagging: 0;
  }
}
