## Larex ##
#books 
Larex/src/main/webapp/resources/books/

#user settings
Larex/src/main/webapp/WEB-INF/larex.config

.idea/

## Code ##
#java
*.class
*.log
*.jar

#packages
*.war
*.zip
*.tar.gz
*.rar

#sass
Larex/src/main/webapp/resources/.sass-cache/
.sass-cache/
*.css.map

## Editors ##
#eclipse
Larex/target/
Larex/bin/
Larex/tmp/
*.tmp
*.bak
*.swp
*~.nib
*.launch
local.properties
Larex/.settings/
Larex/.loadpath
Larex/.recommenders
Larex/.target
Larex/.classpath
Larex/.project

#vim
*~
*.swp
