## Larex ##
#books 
src/main/webapp/resources/books/

#user settings
src/main/webapp/WEB-INF/larex.config

.idea/
target/

## Code ##
#java
*.class
*.log
*.jar

#packages
*.war
*.zip
*.tar.gz
*.rar

#sass
src/main/webapp/resources/.sass-cache/
.sass-cache/
*.css.map

## Editors ##
#eclipse
target/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
*.launch
local.properties
.settings/
.loadpath
.recommenders
.target
.classpath
.project

#vim
*~
*.swp
