language: java

jdk:
  - openjdk8

sudo: false

cache:
  directories:
    - $HOME/.m2
    - $HOME/.gradle

deploy:
  provider: script
  script: "cp .travis.settings.xml $HOME/.m2/settings.xml && mvn deploy"
  skip_cleanup: true
  on:
    tags: true