###### Configuration file for LAREX ######
### How to: ###
# Comments: #
# <setting>:<value>

# Set the file path of the books folder.
# e.g. bookpath:/home/user/books (Linux)
# e.g. bookpath:C:\Users\user\Documents\books (Windows)
# Larex will load the books off of this folder.
# Empty or commented out will take the default <Larex>/src/main/webapp/resources/books
#bookpath:
