###### Configuration file for LAREX ######
### How to: ###
# Comments: #
# <setting>:<value>
# Empty or commented out settings are interpreted as default

# Set the file path of the books folder.
# e.g. bookpath:/home/user/books (Linux)
# e.g. bookpath:C:\Users\user\Documents\books (Windows)
# Larex will load the books off of this folder.
# [default <Larex>/src/main/webapp/resources/books]
#bookpath:<path>

# Save the pageXML locally <mode>=[bookpath|savedir|none]
# bookpath: save the pageXML in the bookpath
# savedir: save the pageXML in a definied savedir
# none: do not save the pageXML locally [default]
# e.g. localsave:bookpath
#localsave:<mode>

# Save location for the localsave mode "savedir"
# Will be used if localsave mode is set to "savedir"
#savedir:<path>
