###### Configuration file for LAREX ######
### How to: ###
# Comments: #
# <setting>:<value>
# Empty or commented out settings are interpreted as default

# Set the accessible modes in the Larex gui <value>=[[segment][edit][lines][text]]
# A combination of the modes "segment", "edit", "lines" and "text" can be set as 
# a space separated string. 
# e.g. modes:segment lines
# The order of those modes in the string also determines which mode is opened
# on startup, with the first in the list being opened as main mode.
# The mode "segment" can be replaced with "edit" in order to hide all auto 
# segmentation features. ("edit" will be ignored if both are present)
# [Default]modes:segment lines text
# Larex will display any of those modes
#modes:<value>

# Set the file path of the books folder.
# e.g. bookpath:/home/user/books (Linux)
# e.g. bookpath:C:\Users\user\Documents\books (Windows)
# Larex will load the books off of this folder.
# [default <Larex>/src/main/webapp/resources/books]
#bookpath:<path>

# Save the pageXML locally <mode>=[bookpath|savedir|none]
# bookpath: save the pageXML in the bookpath
# savedir: save the pageXML in a defined savedir
# none: do not save the pageXML locally [default]
# e.g. localsave:bookpath
#localsave:<mode>

# Save location for the localsave mode "savedir"
# Will be used if localsave mode is set to "savedir"
# e.g. savedir:/home/user/save (Linux)
# e.g. savedir:C:\Users\user\Documents\save (Windows)
#savedir:<path>

# Download the pageXML in the web browser after saving
# <value>=[true|false]
# true: download pageXML after saving [default]
# false: no action after saving
# e.g. websave:true
#websave:<value>

# Filter to select specific images via their sub extensions. 
# Larex will only display images that include that sub extension and will group images with the 
# same base name up to the sub extension together. Comprised of a list of sub extensions,
# divided by space. Use "." to refer to images without sub extension.  [default: no filter]:
# <value>=<extensions>
# e.g. imagefilter:bin norm
# Pages folder input: image.bin.png, image.png, image2.bin.png, image3.bin
# Filtered pages: image.bin.png, image2.bin.png 
# (Images will point to *.bin.png, but will be named without the .bin. image.bin.png=image.png
# 	Images with the same base name will be grouped together, with the same order as described in the filter)
#imagefilter:<value>

# Enable/Disable the direct open feature <value>=[enable|disable]
# This feature allows users to load a book from everywhere on the servers drive.
# To load a book directly it is required to send a POST request with bookpath and bookname to /direct
# (The Settings localsave, savedir and websave can also be set on that request)
# enable: enable direct request
# disable: disable direct request [default]
# e.g. directrequest:enable
# !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
# !!! Caution this could lead to security issues and should at best only be used offline !!!
# !!! (e.g to integrate the webapp to a (offline) workflow with other webapplications)   !!!
# !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
#directrequest:<value>
